/* ********************************* */
/* BELOW 1344PX FOR SMALL DESKTOP */
/* ********************************* */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ********************************* */
/* BELOW 1200PX FOR LANDSCAPE TAPLETS */
/* ********************************* */
@media (max-width: 75em) {
  html {
    /* 9 px  */
    font-size: 56.25%;
  }
  .header {
    padding: 0 3.2rem;
  }
  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }
  .heading-teriary {
    font-size: 2.4rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}

/* ********************************* */
/* BELOW 944PX FOR TAPLETS */
/* ********************************* */
@media (max-width: 59em) {
  html {
    /* 8px */
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-img {
    width: 60%;
  }
  .hero-img-box,
  .hero-text-box {
    text-align: center;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-num {
    font-size: 7.4rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }
  /* ********************************* */
  /* MOBILE NAVIGATION */
  /* ********************************* */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-in;
    transform: translateX(100%);
    /*display: none;
    */ /*1-HIDE IT VISUALLY*/
    opacity: 0;
    /*2-make it unaccessible to mouse and to keyboard*/
    pointer-events: none;
    /*3-hide it from screen readers*/
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* ********************************* */
/* BELOW 704PX FOR SMALLER TAPLETS */
/* ********************************* */
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .deits {
    grid-column: 1/-1;
    place-self: center;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .pricing-plan {
    width: 100%;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
  .logo-col,
  .contact-col {
    grid-column: span 3;
  }
}
/* ********************************* */
/* BELOW 544PX FOR PHONES */
/* ********************************* */
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--3-cols,
  .grid--4-cols,
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .hero-img {
    width: 80%;
  }
  .logos img {
    height: 1.2rem;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box {
    transform: translateY(2.4rem);
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-img-box {
    height: 30rem;
    grid-row: 1;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
  .section-cta {
    padding: 4.8rem 0 8rem;
  }
}

/* 
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ********************************* */
/* fixing Safari Flexbox gap */
/* ********************************* */

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
